/*Base Styles*/
    body {
        margin: auto;
        font-family: Dancing Script, cursive;
        transition: background-color 0.3s, color 0.3s;
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        transition: background-color 0.3s, color 0.3s;
    }
/*Light Theme*/
    body.light-theme {
        background-color: lightblue;
        color: #1a1a1a;
    }
    body.light-theme #theme-toggle {
        background-color: none;
        color: black;
    }

/*Dark Theme*/
    body.dark-theme {
        background-color: blue;
        color: #f1f1f1;
    }
    body.dark-theme #theme-toggle {
        background: none;
        color: white;
    }
/*Toggle Button Style*/
    #theme-toggle{
        font-size: 50px;
        border: none;
        cursor: pointer;
        position: fixed;
        top: 1rem;
        right: 1rem;
        padding: 0.5rem 1rem;
        background-color: #333;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        z-index: 1000;
    }
